<div class="container">
  <h1>Hello </h1>

  <% if @experiences.any? %>
    <div class="grid">
      <% @experiences.each do |experience| %>
        <%=link_to experience_path(experience) do %>
          <div class="card">
            <% if experience.photo.attached? %>
              <div class="card-img">
                <%= cl_image_tag experience.photo.key %>
              </div>
            <% end %>
            <h3><%=experience.title%></h3>
          </div>
        <% end %>
      <% end %>
    </div>
    <%else %>
    <h3>nothing here atm</h3>
  <% end %>
</div>

