@import "alert";
@import "navbar";
@import "grid";
@import "cards";
@import "button";

.margin-content{
  margin-top: 89px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: inherit;
}


.font-white{
  color: white;
  margin-right: 32px;
}

a.font-white:hover{
  color:white;
}
