@import "alert";
@import "navbar";
@import "grid";
@import "cards";
@import "button";

.margin-content{
  margin-top: 89px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: black;
}
